.trailer-container {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.trailer-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 94%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  border: 6px solid rgb(35, 35, 36);
}

.trailer-wrapper button {
  position: absolute;
  display: flex;
  right: -20px;
  top: -20px;
  background-color: rgb(35, 35, 36);
  border: none;
  padding: 4px;
  border-radius: 50%;
  align-self: flex-end;
  cursor: pointer;
}

.trailer-video {
  width: 100%;
  height: 100%;
}

.prevent-scroll {
  overflow: hidden;
}
