.episode {
  display: flex;
  gap: 10px;
  padding: 12px 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: background 0.2s ease;
}

.episode:hover {
  background: rgba(255, 255, 255, 0.2);
}

.episode-image {
  position: relative;
  width: 30%;
}

.player-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.ep-image-holder {
  position: absolute;
  opacity: 1;
  transition: 0.3s ease;
}

.remove-ep-image-holder {
  opacity: 0;
}

.ep-image {
  opacity: 0;
}

.show-ep-image {
  opacity: 1;
}

.episode-image img {
  width: 100%;
  aspect-ratio: 16 / 10;
  object-fit: cover;
}

.episode-content {
  display: flex;
  width: 50%;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-evenly;
}

.ep-name h4 {
  margin-bottom: 6px;
}

.ep-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ep-release-date span {
  font-size: 12px;
}
