.show-downloads {
  width: 50%;
}

.episode-list {
  list-style: none;
  margin-top: 20px;
  overflow-y: scroll;
  height: fit-content;
  max-height: 300px;
}

@media screen and (max-width: 950px) {
  .show-downloads {
    width: 100%;
  }

  .episode-list {
    overflow-y: visible;
    max-height: fit-content;
  }
}
