.nav-bar {
  position: fixed;
  top: 0;
  background: rgb(52, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 20px;
  z-index: 2;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 6px 10px 6px 0;
}

.nav-options a {
  cursor: pointer;
  text-decoration: none;
}

.nav-options a:hover {
  color: rgb(53, 173, 53);
}

.active-link {
  color: rgb(53, 173, 53);
}

@media screen and (max-width: 720px) {
  .nav-bar {
    flex-direction: column;
  }

  .nav-options {
    width: 80%;
  }
}
